@font-face {
	font-family: Roboto;
	src: url('./fonts/Roboto-Regular.ttf') format('true-type');
}

body {
	margin: 0;
}

#app {
	font-size: 44px;
	font-weight: bold;
	color: rgb(233, 120, 39);
}

.backgroundImage {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
	height: 100vh;
	filter: blur(2px) brightness(75%);
	transition: background-image 0.5s ease;
}

.container {
	position: fixed;
	font-family: Roboto, sans-serif;
	text-align: center;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.buttonContainer {
  display: flex;
}

.buttonBg {
	border-radius: 15px;
	border-color: azure;
	height: 200px;
	width: 200px;
	margin: 15px;
	cursor: pointer;
}

button {
	border-radius: 15px;
	height: 100%;
	width: 100%;
}

input[type="range"] {
	width: 200px;
	margin-top: 20px;
}

#Rain {
	background: url('./assets/rainy-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.Rain {
	background-image: url('./assets/icons/cloud-rain.svg');
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center;
	cursor: pointer;
}	

#Summer {
	background: url('./assets/summer-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.Summer {
	background-image: url('./assets/icons/sun.svg');
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center;
	cursor: pointer;
}

#Winter {
	background: url('./assets/winter-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.Winter {
	background-image: url('./assets/icons/cloud-snow.svg');
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center;
	cursor: pointer;
}
